In [48]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [49]:
# Import our data into pandas from CSV
filepath1 = "Datasets/Olympic_Athlete_Event_Details.csv"
filepath2 = "Datasets/Olympic_Country_Profiles.csv"
filepath3 = "Datasets/Olympic_Event_Results.csv"
filepath4 = "Datasets/Olympic_Games_Summary.csv"
filepath5 = "Datasets/Olympic_Medal_Tally_History.csv"

df_Athlete_Event_Details = pd.read_csv(filepath1)
df_Country_Profiles = pd.read_csv(filepath2)
df_Event_Results = pd.read_csv(filepath3)
df_Games_Summary = pd.read_csv(filepath4)
df_Medal_Tally_History = pd.read_csv(filepath5)



df_Athlete_Event_Details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        44687 non-null   object
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.5+ MB

In [50]:
df_Event_Results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7394 entries, 0 to 7393
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result_id            7394 non-null   int64
 1   event_title          7394 non-null   object
 2   edition              7394 non-null   object
 3   edition_id           7394 non-null   int64
 4   sport                7394 non-null   object
 5   sport_url            7394 non-null   object
 6   result_date          7394 non-null   object
 7   result_location      7393 non-null   object
 8   result_participants  7394 non-null   object
 9   result_format        7394 non-null   object
 10  result_detail        7394 non-null   object
 11  result_description   7394 non-null   object
dtypes: int64(2), object(10)
memory usage: 693.3+ KB

In [51]:
df_Medal_Tally_History.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      1807 non-null   object
 1   edition_id   1807 non-null   int64
 2   year         1807 non-null   int64
 3   country      1807 non-null   object
 4   country_noc  1807 non-null   object
 5   gold         1807 non-null   int64
 6   silver       1807 non-null   int64
 7   bronze       1807 non-null   int64
 8   total        1807 non-null   int64
dtypes: int64(6), object(3)
memory usage: 127.2+ KB

In [52]:
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Soviet Union': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Russian Olympic Committee': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'ROC': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Unified Team': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'East Germany': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'West Germany': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Saar': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Bohemia': 'Czechia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Australasia': 'Australia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Rhodesia': 'Zimbabwe'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'South Yemen': 'Yemen'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'North Yemen': 'Yemen'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Serbia and Montenegro': 'Serbia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({"Democratic People's Republic of Korea": "Republic of Korea"})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({"Korea Town": "Republic of Korea"})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'South Vietnam': 'Vietnam'})

In [53]:
df_Country_Profiles.to_csv("Datasets/Country_Profiles_Clean.csv", index = False)

In [54]:
#USE ATHLETE EVENT DETAIL TO COMBINE ATHLETE WITH COUNTRY TO FIND OUT HOW MANY COMPETED FOR THAT COUNTRY

In [55]:
df_Athlete_Event_Details.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False

In [56]:
df_Athlete_Event_Details["AthletesPerCountry"] = df_Athlete_Event_Details.groupby("country_noc")["athlete"].transform("count")
print(df_Athlete_Event_Details)

                     edition  edition_id country_noc      sport  \
0       1908 Summer Olympics           5         ANZ  Athletics
1       1908 Summer Olympics           5         ANZ  Athletics
2       1908 Summer Olympics           5         ANZ  Athletics
3       1908 Summer Olympics           5         ANZ  Athletics
4       1908 Summer Olympics           5         ANZ  Athletics
...                      ...         ...         ...        ...
316829  2022 Winter Olympics          62         NED  Bobsleigh
316830  2022 Winter Olympics          62         SVK  Bobsleigh
316831  2022 Winter Olympics          62         KOR  Bobsleigh
316832  2022 Winter Olympics          62         JAM  Bobsleigh
316833  2022 Winter Olympics          62         UKR  Bobsleigh

                  event  result_id                     athlete  athlete_id  \
0       100 metres, Men      56265             Ernest Hutcheon       64710
1       400 metres, Men      56313                Henry Murray       64756
2       800 metres, Men      56338               Harvey Sutton       64808
3       800 metres, Men      56338                 Guy Haskins      922519
4       800 metres, Men      56338                Joseph Lynch       64735
...                 ...        ...                         ...         ...
316829   Monobob, Women   19019671              Karlien Sleper      148662
316830   Monobob, Women   19019671          Viktória Čerňanská      138683
316831   Monobob, Women   19019671                  Kim Yu-Ran      137542
316832   Monobob, Women   19019671  Jazmine Fenlator-Victorian      128682
316833   Monobob, Women   19019671                Lidiya Hunko      149047

              pos medal  isTeamSport  AthletesPerCountry
0             DNS   NaN        False                 131
1             DNS   NaN        False                 131
2       3 h8 r1/2   NaN        False                 131
3             DNS   NaN        False                 131
4             DNS   NaN        False                 131
...           ...   ...          ...                 ...
316829         16   NaN        False                6854
316830         17   NaN        False                1330
316831         18   NaN        False                5357
316832         19   NaN        False                1043
316833         20   NaN        False                2995

[316834 rows x 12 columns]

In [58]:
df_Athlete_Event_Details.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,AthletesPerCountry
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False,131
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False,131
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False,131
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False,131
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False,131

In [60]:
# Group by 'Country' and sum the 'AthletesPerCountry'
athletes_per_country = df_Athlete_Event_Details.groupby("country_noc")["AthletesPerCountry"].sum().reset_index()

# Rename the column for clarity
athletes_per_country.rename(columns={"AthletesPerCountry": "Total_Athletes"}, inplace=True)

# Display the result
print(athletes_per_country)

    country_noc  Total_Athletes
0           AFG           22201
1           AHO            7921
2           ALB            7744
3           ALG          396900
4           AND           39601
..          ...             ...
226         YEM            1600
227         YMD              25
228         YUG         7595536
229         ZAM           49284
230         ZIM          103684

[231 rows x 2 columns]

In [61]:
athletes_per_country = athletes_per_country.sort_values(by="Total_Athletes", ascending=False)
print(athletes_per_country)

    country_noc  Total_Athletes
217         USA       561690000
71          FRA       263737600
76          GBR       191296561
102         ITA       154703844
36          CAN       137663289
..          ...             ...
209         TUV              81
214         UNK              36
188         SSD              25
227         YMD              25
145         NBO               9

[231 rows x 2 columns]

In [62]:
athletes_per_country = athletes_per_country.sort_values(by="Total_Athletes", ascending=True)
print(athletes_per_country)

    country_noc  Total_Athletes
145         NBO               9
227         YMD              25
188         SSD              25
214         UNK              36
209         TUV              81
..          ...             ...
36          CAN       137663289
102         ITA       154703844
76          GBR       191296561
71          FRA       263737600
217         USA       561690000

[231 rows x 2 columns]

In [63]:
filtered_countries = athletes_per_country[athletes_per_country["Total_Athletes"] >= 100]

In [ ]:
df_Event_Results_over_100 = df_Event_Results[df_Event_Results['result_participants'] > 100]
print(df_Events_Results_100)