In [47]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [48]:
# Import our data into pandas from CSV
filepath1 = "Datasets/Olympic_Athlete_Event_Details.csv"
filepath3 = "Datasets/Olympic_Event_Results.csv"

df_Athlete_Event_Details = pd.read_csv(filepath1)
df_Event_Results = pd.read_csv(filepath3)
df_Games_Summary = pd.read_csv(filepath4)




df_Athlete_Event_Details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        44687 non-null   object
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.5+ MB

In [63]:
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Soviet Union': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Russian Olympic Committee': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'ROC': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Unified Team': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'East Germany': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'West Germany': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Saar': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Bohemia': 'Czechia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Australasia': 'Australia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Rhodesia': 'Zimbabwe'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'South Yemen': 'Yemen'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'North Yemen': 'Yemen'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Serbia and Montenegro': 'Serbia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({"Democratic People's Republic of Korea": "Republic of Korea"})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({"Korea Town": "Republic of Korea"})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'South Vietnam': 'Vietnam'})

In [64]:
df_Athlete_Event_Details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   edition          316834 non-null  object
 1   edition_id       316834 non-null  int64
 2   country_noc      316834 non-null  object
 3   sport            316834 non-null  object
 4   event            316834 non-null  object
 5   result_id        316834 non-null  int64
 6   athlete          316834 non-null  object
 7   athlete_id       316834 non-null  int64
 8   pos              316834 non-null  object
 9   medal            44687 non-null   object
 10  isTeamSport      316834 non-null  bool
 11  Weighted Medals  44687 non-null   float64
 12  Gender           296338 non-null  object
dtypes: bool(1), float64(1), int64(3), object(8)
memory usage: 29.3+ MB

In [65]:
df_Event_Results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7394 entries, 0 to 7393
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result_id            7394 non-null   int64
 1   event_title          7394 non-null   object
 2   edition              7394 non-null   object
 3   edition_id           7394 non-null   int64
 4   sport                7394 non-null   object
 5   sport_url            7394 non-null   object
 6   result_date          7394 non-null   object
 7   result_location      7393 non-null   object
 8   result_participants  7394 non-null   object
 9   result_format        7394 non-null   object
 10  result_detail        7394 non-null   object
 11  result_description   7394 non-null   object
dtypes: int64(2), object(10)
memory usage: 693.3+ KB

In [66]:
# Want to look at country success by event type
df_Athlete_Event_Details["Weighted Medals"] = df_Athlete_Event_Details["medal"].map({'Gold': 3, 'Silver': 2, 'Bronze': 1, None: 0})
df_Athlete_Event_Details["Gender"] = df_Athlete_Event_Details["event"].str.extract(r'(Men|Women)', expand=False)
df_Athlete_Event_Details.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,Weighted Medals,Gender
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False,NaN,Men
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False,NaN,Men
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False,NaN,Men
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False,NaN,Men
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False,NaN,Men

In [67]:
# SHOW COUNTRIES AND HOWN MANY PARTICIPANTS 
group_counts = df_Athlete_Event_Details['country_noc'].value_counts()

print(group_counts)

country_noc
USA    23700
FRA    16240
GBR    13831
ITA    12438
CAN    11733
       ...
TUV        9
UNK        6
SSD        5
YMD        5
NBO        3
Name: count, Length: 231, dtype: int64

In [69]:
df_exploded = df_Athlete_Event_Details.explode('values')

print(df_exploded)

KeyError: 'values'