In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
COUNTRY_PATH = "../noah_example/Country_Profiles_Clean.csv"
#MEDAL_PATH = "../noah_example/Datasets/Olympic_Medal_Tally_History.csv"
EVENT_PATH = "../noah_example/Datasets/Olympic_Athlete_Event_Details.csv"
CURRENT_YEAR = 2024
OLDEST_YEAR_OF_INTEREST = CURRENT_YEAR - 20

In [3]:
# read it in:
country_df= pd.read_csv(COUNTRY_PATH).drop(index=234)
print(country_df.shape)
country_df.head()

(234, 2)

   noc         country
0  AFG     Afghanistan
1  ALB         Albania
2  ALG         Algeria
3  ASA  American Samoa
4  AND         Andorra

In [4]:
dup_both_mask_s = country_df.duplicated(keep=False)
print(dup_both_mask_s.sum())
dup_noc_mask_s = country_df.duplicated(subset='noc', keep=False)
print(dup_noc_mask_s.sum())
dup_country_mask_s = country_df.duplicated(subset='country', keep=False)
country_df[dup_country_mask_s].sort_values("country")

0
0

     noc             country
10   ANZ           Australia
11   AUS           Australia
23   BOH             Czechia
52   CZE             Czechia
60   GDR             Germany
75   GER             Germany
228  FRG             Germany
173  SAA             Germany
54   PRK   Republic of Korea
166  KOR   Republic of Korea
216  EUN  Russian Federation
194  URS  Russian Federation
171  RUS  Russian Federation
169  ROC  Russian Federation
181  SRB              Serbia
182  SCG              Serbia
192  VNM             Vietnam
227  VIE             Vietnam
193  YMD               Yemen
149  YAR               Yemen
230  YEM               Yemen
168  RHO            Zimbabwe
233  ZIM            Zimbabwe

In [5]:
dup_both_mask_s.sum()

0

In [6]:
dup_country_mask_s.sum()

23

In [7]:
# medal_df= pd.read_csv(MEDAL_PATH).rename(columns = {"country_noc" : "noc"})
# print(medal_df.shape)
# medal_df.head()

In [8]:
#medal_df.info()

In [9]:
#medal_df.describe()

In [10]:
# #merge the 2 datasets: country and game sum
# country_medal_df = pd.merge(country_df, medal_df, on="country")
# print(country_medal_df.shape)
# country_medal_df.head()

In [11]:
# noc_mismatch_mask_s = country_medal_df.noc_x != country_medal_df.noc_y
# country_medal_df[noc_mismatch_mask_s]

In [12]:
#country_medal_df.loc[noc_mismatch_mask_s, "country"].unique()

In [13]:
#Country_medal_df = Country_medal_df.rename(columns = {"noc_x" : "noc"})
#Country_medal_df.head()

In [14]:
event_df= pd.read_csv(EVENT_PATH)\
.dropna()\
.rename(columns = {"country_noc" : "noc"})

event_df[['year', 'season']] = event_df['edition'].str.split(' ', n=1, expand=True)
event_df['year'] = event_df['year'].astype(int)

print(event_df.info())
print(event_df.shape)
event_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 44687 entries, 20 to 316816
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      44687 non-null  object
 1   edition_id   44687 non-null  int64
 2   noc          44687 non-null  object
 3   sport        44687 non-null  object
 4   event        44687 non-null  object
 5   result_id    44687 non-null  int64
 6   athlete      44687 non-null  object
 7   athlete_id   44687 non-null  int64
 8   pos          44687 non-null  object
 9   medal        44687 non-null  object
 10  isTeamSport  44687 non-null  bool
 11  year         44687 non-null  int64
 12  season       44687 non-null  object
dtypes: bool(1), int64(4), object(8)
memory usage: 4.5+ MB
None
(44687, 13)

,edition,edition_id,noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year,season
20,1908 Summer Olympics,5,ANZ,Athletics,"3,500 metres Race Walk, Men",56421,Harry Kerr,64719,3,Bronze,False,1908,Summer Olympics
30,1908 Summer Olympics,5,ANZ,Boxing,"Middleweight, Men",21263,Snowy Baker,45153,2,Silver,False,1908,Summer Olympics
32,1908 Summer Olympics,5,ANZ,Rugby,"Rugby, Men",31505,John Barnett,11237,1,Gold,True,1908,Summer Olympics
33,1908 Summer Olympics,5,ANZ,Rugby,"Rugby, Men",31505,Phil Carmichael,11239,1,Gold,True,1908,Summer Olympics
34,1908 Summer Olympics,5,ANZ,Rugby,"Rugby, Men",31505,Dan Carroll,11240,1,Gold,True,1908,Summer Olympics

In [15]:
#merge country medal with olympic athlete event to extract gender
country_event_df = pd.merge(event_df, country_df, on="noc", how="left")
country_event_df.info()
print(country_event_df.shape)
country_event_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44687 entries, 0 to 44686
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      44687 non-null  object
 1   edition_id   44687 non-null  int64
 2   noc          44687 non-null  object
 3   sport        44687 non-null  object
 4   event        44687 non-null  object
 5   result_id    44687 non-null  int64
 6   athlete      44687 non-null  object
 7   athlete_id   44687 non-null  int64
 8   pos          44687 non-null  object
 9   medal        44687 non-null  object
 10  isTeamSport  44687 non-null  bool
 11  year         44687 non-null  int64
 12  season       44687 non-null  object
 13  country      44687 non-null  object
dtypes: bool(1), int64(4), object(9)
memory usage: 4.5+ MB
(44687, 14)

,edition,edition_id,noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year,season,country
44682,2022 Winter Olympics,62,USA,Speed Skating,"500 metres, Women",19020424,Erin Jackson,138378,1,Gold,False,2022,Winter Olympics,United States
44683,2022 Winter Olympics,62,USA,Speed Skating,"1,000 metres, Women",19020425,Brittany Bowe,128778,3,Bronze,False,2022,Winter Olympics,United States
44684,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Kaillie Humphries,118672,1,Gold,False,2022,Winter Olympics,United States
44685,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Elana Meyers Taylor,118644,2,Silver,False,2022,Winter Olympics,United States
44686,2022 Winter Olympics,62,CAN,Bobsleigh,"Monobob, Women",19019671,Christine de Bruin,136825,3,Bronze,False,2022,Winter Olympics,Canada

In [20]:
#I want to filter for up to 20years:
year_mask_s = country_event_df["year"] >= OLDEST_YEAR_OF_INTEREST 
country_event_recent_df = country_event_df[year_mask_s]
print(country_event_recent_df.shape)
country_event_recent_df.head()

(13697, 14)

,edition,edition_id,noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year,season,country
55,2012 Summer Olympics,54,BRN,Athletics,"1,500 metres, Women",302391,Maryam Jamal,115219,1,Gold,False,2012,Summer Olympics,Bahrain
56,2016 Summer Olympics,59,BRN,Athletics,"Marathon, Women",359066,Eunice Kirwa,129369,2,Silver,False,2016,Summer Olympics,Bahrain
57,2016 Summer Olympics,59,BRN,Athletics,"3,000 metres Steeplechase, Women",359093,Ruth Jebet,129374,1,Gold,False,2016,Summer Olympics,Bahrain
58,2020 Summer Olympics,61,BRN,Athletics,"10,000 metres, Women",19000739,Kalkidan Gezahegne,141289,2,Silver,False,2020,Summer Olympics,Bahrain
60,2008 Summer Olympics,53,AFG,Taekwondo,"Flyweight, Men",262097,Rohullah Nikpai,117410,=3,Bronze,False,2008,Summer Olympics,Afghanistan

In [22]:
country_event_recent_df.sort_values("year")

,edition,edition_id,noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport,year,season,country
17874,2004 Summer Olympics,26,BAH,Athletics,"200 metres, Women",66430,Debbie Ferguson,64991,3,Bronze,False,2004,Summer Olympics,The Bahamas
8244,2004 Summer Olympics,26,AUS,Rowing,"Coxless Pairs, Men",159765,James Tomkins,35534,1,Gold,True,2004,Summer Olympics,Australia
8245,2004 Summer Olympics,26,AUS,Rowing,"Eights, Men",159787,Stefan Szczurowski,104466,3,Bronze,True,2004,Summer Olympics,Australia
8246,2004 Summer Olympics,26,AUS,Rowing,"Eights, Men",159787,Stuart Reside,89321,3,Bronze,True,2004,Summer Olympics,Australia
8247,2004 Summer Olympics,26,AUS,Rowing,"Eights, Men",159787,Stuart Welch,88878,3,Bronze,True,2004,Summer Olympics,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10431,2022 Winter Olympics,62,ROC,Biathlon,"4 × 6 kilometres Relay, Women",19019639,Ulyana Nigmatullina,137781,2,Silver,True,2022,Winter Olympics,Russian Federation
10432,2022 Winter Olympics,62,ROC,Biathlon,"2 × 6 kilometres and 2 × 7.5 kilometres Relay,...",19019640,Ulyana Nigmatullina,137781,3,Bronze,True,2022,Winter Olympics,Russian Federation
10433,2022 Winter Olympics,62,ROC,Biathlon,"2 × 6 kilometres and 2 × 7.5 kilometres Relay,...",19019640,Kristina Reztsova,148767,3,Bronze,True,2022,Winter Olympics,Russian Federation
27015,2022 Winter Olympics,62,GBR,Curling,"Curling, Women",19019814,Jenn Dodds,148349,1,Gold,True,2022,Winter Olympics,Great Britain
44686,2022 Winter Olympics,62,CAN,Bobsleigh,"Monobob, Women",19019671,Christine de Bruin,136825,3,Bronze,False,2022,Winter Olympics,Canada

In [ ]:
#look for gold wins: female, last 10 years and top 10 countries
#olympic athlete event to seperate columns
# Split the 'Event' column into 'Event' and 'Gender' columns
Country_medal_event_df_recent[['Event', 'Gender']] = Country_medal_event_df_recent['event'].str.split(', ', n=1, expand=True)

Country_medal_event_df_recent["Event"].fillna("Unk")
Country_medal_event_df_recent["Gender"].fillna("Unk")
Country_medal_event_df_recent.head(10)

In [ ]:
female_Country_medal_event_df = Country_medal_event_df_recent[Country_medal_event_df_recent['Gender'] == 'Women']
female_Country_medal_event_df.head()