In [21]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import sys

ModuleNotFoundError: No module named 'dataframes'

In [12]:
# Import our data into pandas from CSV
filepath1 = "Datasets/Olympic_Athlete_Event_Details.csv"
filepath2 = "Datasets/Olympic_Country_Profiles.csv"
filepath3 = "Datasets/Olympic_Event_Results.csv"
filepath4 = "Datasets/Olympic_Games_Summary.csv"
filepath5 = "Datasets/Olympic_Medal_Tally_History.csv"

df_Athlete_Event_Details = pd.read_csv(filepath1)
df_Country_Profiles = pd.read_csv(filepath2)
df_Event_Results = pd.read_csv(filepath3)
df_Games_Summary = pd.read_csv(filepath4)
df_Medal_Tally_History = pd.read_csv(filepath5)



df_Athlete_Event_Details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        44687 non-null   object
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.5+ MB

In [10]:
rows_with_nan_any = df_Event_Results[df_Event_Results.isnull().any(axis=1)]
rows_with_nan_any

,result_id,event_title,edition,edition_id,sport,sport_url,result_date,result_location,result_participants,result_format,result_detail,result_description
6741,316234,"Lightweight (≤73 kilograms), Men",2012 Summer Olympics,54,Judo,/editions/54/sports/JUD,30 July 2012,NaN,34 from 34 countries,Losing quarter-finalists compete against losin...,na,"Riki Nakaya of Japan, the 2011 World Champion,..."

In [ ]:
# df_Athlete_Event_Details['country_noc'] = df_Athlete_Event_Details['country_noc'].replace({'URS': 'RUS'})
# df_Athlete_Event_Details['country_noc'] = df_Athlete_Event_Details['country_noc'].replace({'ROC': 'RUS'})
# 


# Group by country and aggregate medals
# df_combined = df_Athlete_Event_Details.groupby('country_noc', as_index=False).sum()
# df_Athlete_Event_Details.loc[df_Athlete_Event_Details['country_noc'] == 'ROC'].info

In [25]:
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Soviet Union': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Russian Olympic Committee': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'ROC': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Unified Team': 'Russian Federation'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'East Germany': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'West Germany': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Saar': 'Germany'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Bohemia': 'Czechia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Australasia': 'Australia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Rhodesia': 'Zimbabwe'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'South Yemen': 'Yemen'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'North Yemen': 'Yemen'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Serbia and Montenegro': 'Serbia'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'Rhodesia': 'Zimbabwe'})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({"Democratic People's Republic of Korea": "Republic of Korea"})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({"Korea Town": "Republic of Korea"})
df_Country_Profiles['country'] = df_Country_Profiles['country'].replace({'South Vietnam': 'Vietnam'})

<bound method DataFrame.info of      noc             country
0    AFG         Afghanistan
1    ALB             Albania
2    ALG             Algeria
3    ASA      American Samoa
4    AND             Andorra
..   ...                 ...
230  YEM               Yemen
231  YUG          Yugoslavia
232  ZAM              Zambia
233  ZIM            Zimbabwe
234  ROC  Russian Federation

[235 rows x 2 columns]>